@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "media";

$color-blue: #0959a1;
$border-blue: #0f6dc2;
$color-white: #fff;
$color-gray: #505050;

body {
    font-family: "TT Hoves";
}

a {
    color: $color-blue;
}

// шапка начало
.header {
    &__inner {
        display: grid;
        grid-template-columns: 0.5fr 9fr 0.5fr;
    }
    &__logo {
        position: relative;
        min-width: 120px;
        min-height: 120px;
        left: 0px;
        top: 0px;
        background: $color-blue;
        border-bottom: 1px solid $color-blue;
    }
    &__logo::before {
        content: "";
        position: absolute;
        background: url("../images/header/logo-dynamo.svg") no-repeat center center/cover;
        top: 15px;
        left: 0;
        width: 120px;
        height: 90px;
    }
    &__up-navigation {
        padding: 20px 0;
        width: 100%;
    }
    &__menu-list {
        width: 100%;
        display: flex;
    }
    .menu-mobile {
        display: none;
    }
    .menu-burger {
        width: 18px;
        height: 14px;
        cursor: pointer;
        position: relative;
    }
    .menu-burger span {
        background: $color-blue;
        height: 2px;
        position: absolute;
        width: 100%;
        left: 0;
        transition: all 0.3s ease;
    }
    .menu-burger span:first-child {
        top: 0;
    }
    .menu-burger span:nth-child(2) {
        top: 6px;
    }
    .menu-burger span:last-child {
        top: 12px;
    }
    .menu-burger:hover span:nth-child(2) {
        opacity: 0;
    }
    .menu-burger:hover span:first-child,
    .menu-burger:hover span:last-child {
        top: 6px;
        background-color: red;
    }
    .menu-burger:hover span:first-child {
        transform: rotate(45deg);
    }
    .menu-burger:hover span:last-child {
        transform: rotate(-45deg);
    }
    .menu-burger__text {
        font-weight: 500;
        font-size: 14.2px;
        line-height: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $color-blue;
    }
    &__menu-link a {
        margin-left: 20px;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &__menu-link a span,
    &__menu-down-link a span {
        display: inline-block;
    }
    &__menu-down-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        width: 100%;
        height: 61px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__menu-down-link:nth-child(1n) {
        border-top: 1px solid $color-blue;
        border-bottom: 1px solid $color-blue;
    }
    &__menu-down-link:nth-child(6),
    &__menu-link:nth-child(6) {
        display: none;
    }

    &__menu-down-link:not(:nth-child(1)):not(:nth-child(3)):not(:nth-child(5)) {
        border: 1px solid $color-blue;
    }
    &__menu-down-list {
        display: flex;
    }
    &__block-logo {
        position: relative;
        width: 120px;
        height: 59px;
        border-left: 1px solid $color-blue;
    }
    &__block-logo:before {
        content: "";
        position: absolute;
        background: url("../images/header/vtb_logo.svg") no-repeat center center/cover;
        left: 27px;
        top: 18px;
        width: 60px;
        height: 21px;
    }
    &__block-functions {
        display: flex;
        border-top: 1px solid $color-blue;
    }
    &__block-login,
    &__block-search {
        position: relative;
        width: 60px;
        height: 60px;
        border-left: 1px solid $color-blue;
        border-bottom: 1px solid $color-blue;
    }
    &__block-login:before {
        content: "";
        position: absolute;
        background: url("../images/header/user.svg") no-repeat center center/cover;
        left: 20px;
        top: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    &__block-search:before {
        content: "";
        position: absolute;
        background: url("../images/header/search.svg") no-repeat center center/cover;
        left: 19px;
        top: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}
// шапка конец

// главная начало
.main {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background: linear-gradient(0deg, rgba(9, 89, 161, 0.25), rgba(9, 89, 161, 0.25)),
            linear-gradient(0deg, rgba(9, 89, 161, 0.5), rgba(9, 89, 161, 0.5)),
            url("../images/main/players_background.png") no-repeat center center/cover;
        background-blend-mode: multiply, soft-light, normal;
        width: 100%;
        height: 480px;
    }
    &__image {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 480px;
    }
    &__title {
        font-weight: 600;
        font-size: 106px;
        line-height: 110px;
        text-transform: uppercase;
        color: $color-white;
    }
    &__menu-tab {
        display: flex;
        justify-content: center;
    }
    &__tab:nth-child(1) {
        border-right: 1px solid $color-white;
    }
    &__tab:nth-child(3) {
        border-left: 1px solid $color-white;
    }
    &__tab {
        border: none;
        width: 100%;
        height: 90px;
        background: $color-blue;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #ffffff;
        cursor: pointer;
    }
    &__tab--active {
        background: #ffffff;
        color: $color-blue;
    }
}
// главная конец

// дропдаун начало
.dropdown {
    &__inner {
        display: flex;
        justify-content: center;
        margin-top: 22px;
    }
    &__tab {
        position: relative;
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        padding: 18px 10px 15px 20px;
    }
    &__tab::before {
        content: "";
        position: absolute;
        width: 97%;
        height: 1px;
        background-color: #dee4ea;
        right: 10px;
        bottom: 0;
    }
    &__tab img {
        margin-top: 17px;
        cursor: pointer;
    }
    &__tab-title {
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $color-gray;
    }
    &__tab-subtitle {
        margin-top: 10px;
        font-weight: 500;
        font-size: 26px;
        line-height: 26px;
        color: #505050;
    }
}
// дропдаун конец

// команда начало
.team {
    background: $color-blue;
    padding-bottom: 70px;
    margin-top: 22px;
    &__item {
        display: none;
    }
    &__item--active {
        display: block;
    }
    &__cards-title {
        padding: 40px 20px 20px;
        font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__card {
        display: flex;
        flex-wrap: wrap;
    }
    &__player {
        position: relative;
        padding: 27px 9px 0 20px;
        border-top: 1px solid $border-blue;
        width: 480px;
        height: 400px;
    }

    &__player:nth-child(2),
    &__player:nth-child(5),
    &__player:nth-child(8) {
        border-right: 1px solid $border-blue;
        border-left: 1px solid $border-blue;
    }

    &__player:nth-child(4),
    &__player:nth-child(5),
    &__player:nth-child(6),
    &__player:nth-child(7),
    &__player:nth-child(8) {
        border-top: none;
    }

    &__forward:last-child {
        width: 480.5px;
        border-right: 1px solid $border-blue;
    }

    &__player.team__goalies:nth-child(3),
    &__player.team__defense:nth-child(3),
    &__player.team__defense:nth-child(6),
    &__player.team__halfback:nth-child(3),
    &__player.team__halfback:nth-child(6),
    &__player.team__halfback:nth-child(3),
    &__player.team__forward:nth-child(3) {
        border-right: 1px solid $border-blue;
    }

    &__player.team__defense:nth-child(4),
    &__player.team__halfback:nth-child(4),
    &__player.team__forward:nth-child(4) {
        border-right: 1px solid $border-blue;
        border-top: 1px solid $border-blue;
    }

    &__player::after {
        content: "";
        position: absolute;
        border-top: 1px solid $border-blue;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
    }

    &__player-card {
        display: flex;
        justify-content: space-between;
    }
    &__player-info {
        z-index: 1;
    }
    &__player-name {
        width: 130px;
        margin-top: 252px;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
        color: #ffffff;
    }
    &__player-nationality {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    &__player-age {
        margin-left: 15px;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #ffffff;
    }

    &__player-shadow {
        position: absolute;
        width: 458px;
        height: 190px;
        bottom: -1px;
        background: linear-gradient(0deg, #0959a1 0%, rgba(9, 89, 161, 0) 100%);
    }

    &__player-img {
        position: absolute;
        margin-left: 51px;
    }
    &__player-number {
        z-index: 1;
        margin-right: 26px;
        font-weight: 500;
        font-size: 106px;
        line-height: 110px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        color: #ffffff;
    }
}
// команда конец

// тренеры начало
.coaches {
    &__card {
        display: flex;
        flex-wrap: wrap;
    }
    &__coach {
        position: relative;
        padding: 27px 9px 0 20px;
        border-top: 1px solid $border-blue;
        width: 480px;
        height: 400px;
    }

    &__coach:nth-child(2),
    &__coach:nth-child(5),
    &__coach:nth-child(8) {
        border-right: 1px solid $border-blue;
        border-left: 1px solid $border-blue;
    }

    &__coach:nth-child(3),
    &__coach:nth-child(6) {
        border-right: 1px solid $border-blue;
    }

    &__coach:nth-child(4),
    &__coach:nth-child(5),
    &__coach:nth-child(6),
    &__coach:nth-child(7),
    &__coach:nth-child(8) {
        border-top: none;
    }

    &__coach::after {
        content: "";
        position: absolute;
        border-top: 1px solid $border-blue;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
    }

    &__coach-card {
        display: flex;
        justify-content: space-between;
    }
    &__coach-info {
        z-index: 1;
    }
    &__coach-name {
        width: 130px;
        margin-top: 252px;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
        color: #ffffff;
    }
    &__coach-nationality {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    &__coach-age {
        margin-left: 15px;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #ffffff;
    }

    &__coach-shadow {
        position: absolute;
        width: 458px;
        height: 190px;
        bottom: -1px;
        background: linear-gradient(0deg, #0959a1 0%, rgba(9, 89, 161, 0) 100%);
    }

    &__coach-img {
        position: absolute;
        margin-left: 51px;
    }
}
// тренеры конец

// сотрудники начало
.employees {
    &__card {
        display: flex;
        flex-wrap: wrap;
    }
    &__employee {
        position: relative;
        padding: 27px 9px 0 20px;
        border-top: 1px solid $border-blue;
        width: 480px;
        height: 400px;
    }

    &__employee:nth-child(2),
    &__employee:nth-child(5),
    &__employee:nth-child(8) {
        border-right: 1px solid $border-blue;
        border-left: 1px solid $border-blue;
    }

    &__employee:nth-child(3),
    &__employee:nth-child(6) {
        border-right: 1px solid $border-blue;
    }

    &__employee:nth-child(4),
    &__employee:nth-child(5),
    &__employee:nth-child(6),
    &__employee:nth-child(7),
    &__employee:nth-child(8) {
        border-top: none;
    }

    &__employee::after {
        content: "";
        position: absolute;
        border-top: 1px solid $border-blue;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
    }

    &__employee-card {
        display: flex;
        justify-content: space-between;
    }
    &__employee-info {
        z-index: 1;
    }
    &__employee-name {
        width: 130px;
        margin-top: 252px;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
        color: #ffffff;
    }
    &__employee-nationality {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    &__employee-age {
        margin-left: 15px;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #ffffff;
    }

    &__employee-shadow {
        position: absolute;
        width: 458px;
        height: 190px;
        bottom: -1px;
        background: linear-gradient(0deg, #0959a1 0%, rgba(9, 89, 161, 0) 100%);
    }

    &__employee-img {
        position: absolute;
        margin-left: 51px;
    }
}
// сотрудники конец

// подвал начало
.footer {
    position: relative;
    background: $color-blue;
    height: 100%;
    padding-bottom: 20px;
    &__inner {
        padding: 0 20px;
    }
    &__title {
        padding-top: 30px;
        padding-bottom: 19px;
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__partners {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
    }
    &__partners-images {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 120px;
        border-top: 1px solid $border-blue;
    }
    &__partners-images:nth-child(2),
    &__partners-images:nth-child(3),
    &__partners-images:nth-child(4),
    &__partners-images:nth-child(6),
    &__partners-images:nth-child(7),
    &__partners-images:nth-child(8) {
        border-left: 1px solid $border-blue;
    }
    &__partners-images:last-child {
        display: none;
    }
    .partners-down {
        border-bottom: 1px solid $border-blue;
    }
    &__info {
        margin-top: 40px;
        display: flex;
    }
    &__info-nav:not(:first-child) {
        margin-left: 59px;
    }
    &__info-nav:nth-child(2) {
        max-width: 152px;
    }
    &__right-side {
        display: flex;
        margin-left: 87px;
        justify-content: space-between;
        width: 100%;
    }
    &__info-title,
    &__newsletter-title {
        min-width: 179px;
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $color-white;
    }
    &__list {
        margin-top: 15px;
    }
    &__link {
        margin-top: 5px;
    }
    &__link a {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $color-white;
    }
    &__newsletter953px {
        display: none;
    }
    &__newsletter-input {
        position: relative;
        float: right;
        margin-top: 21px;
    }
    &__newsletter-input::before {
        content: "";
        position: absolute;
        background: url("../images/footer/arrow_right.svg") no-repeat center center/cover;
        top: 9px;
        right: 10px;
        width: 20px;
        height: 20px;
    }
    &__newsletter-input input {
        padding: 9px 40px 10px 15px;
        width: 440px;
        height: 39px;
        border: 1px solid $color-white;
        color: $color-white;
        background-color: inherit;
        outline: none;
    }
    &__newsletter-input input::placeholder {
        color: $color-white;
    }
    &__rights {
        display: grid;
        // grid-template-columns: 6fr 1fr 1fr;
        // grid-template-columns: 6fr 1.5fr 1fr;
        grid-template-columns: 5fr 2fr;
    }
    &__rights-block {
        display: grid;
        grid-template-columns: 0.8fr 0.5fr;
    }
    &__rights-text {
        margin-top: 80px;
        font-weight: 400;
        font-size: 14.2px;
        line-height: 20px;
        display: flex;
        align-items: flex-end;
        color: $color-white;
    }
    &__rights-text span {
        font-weight: 500;
        margin-left: 3px;
    }
}
// подвал конец

@media (max-width: 2160px) {
    .header__block-login,
    .header__block-search {
        height: 61px;
    }
    .header__menu-down-link {
        height: 62px;
    }
}

@media (max-width: 1920px) {
    .team__player.team__defense:nth-child(4),
    .team__player.team__defense:nth-child(8),
    .team__player.team__halfback:nth-child(4) {
        border-right: none;
    }

    .team__player.team__forward:nth-child(4) {
        border-top: none;
    }

    .coaches__coach:nth-child(4),
    .coaches__coach:nth-child(8),
    .employees__employee:nth-child(4),
    .employees__employee:nth-child(8) {
        border-right: none;
    }
}

@media (max-width: 1800px) {
    .team__player.team__defense:nth-child(4),
    .team__player.team__halfback:nth-child(4),
    .team__player.team__forward:nth-child(4) {
        border-top: none;
    }
    .team__player.team__forward:nth-child(4),
    .team__player.team__defense:nth-child(8),
    .coaches__coach:nth-child(8),
    .employees__employee:nth-child(8) {
        border-right: 1px solid $border-blue;
    }
    .header__menu-down-link {
        height: 62px;
    }
}

@media (max-width: 1440px) {
    .dropdown__tab::before {
        width: 94%;
    }
    .team__player.team__goalies:nth-child(3),
    .team__player.team__defense:nth-child(3),
    .team__player.team__defense:nth-child(6),
    .team__player.team__halfback:nth-child(3),
    .team__player.team__halfback:nth-child(6),
    .team__player.team__forward:nth-child(3) {
        border-right: none;
    }
    .team__player.team__forward:last-child {
        width: 481px;
    }
    .coaches__coach:nth-child(3),
    .coaches__coach:nth-child(6) {
        border-right: none;
    }
    .employees__employee:nth-child(3),
    .employees__employee:nth-child(6) {
        border-right: none;
    }
}

@media (max-width: 1439px) {
    .team__player.team__goalies:nth-child(3),
    .team__player.team__defense:nth-child(3),
    .team__player.team__halfback:nth-child(3),
    .team__player.team__forward:nth-child(3),
    .coaches__coach:nth-child(3),
    .employees__employee:nth-child(3) {
        border-top: none;
        border-right: 1px solid $border-blue;
        width: 481px;
    }
    .team__player.team__defense:nth-child(4),
    .team__player.team__defense:nth-child(6),
    .team__player.team__halfback:nth-child(4),
    .team__player.team__halfback:nth-child(6),
    .coaches__coach:nth-child(4),
    .coaches__coach:nth-child(6),
    .employees__employee:nth-child(4),
    .employees__employee:nth-child(6) {
        border-right: 1px solid $border-blue;
        width: 479px;
    }
    .team__player.team__defense:nth-child(5),
    .employees__employee:nth-child(5) {
        border-left: none;
        width: 481px;
    }

    .team__player.team__halfback:nth-child(5),
    .coaches__coach:nth-child(5) {
        width: 481px;
    }
}

@media (max-width: 1180px) {
    .footer__title {
        font-size: 18px;
        padding-bottom: 20px;
    }
    .footer__info-nav:not(:first-child) {
        margin-left: 51px;
    }
    .footer__right-side {
        display: block;
        width: auto;
        margin-left: 80px;
    }
    .footer__newsletter {
        margin-top: 40px;
    }
    .footer__info {
        margin-top: 39px;
    }
    .footer__info-title,
    .footer__newsletter-title {
        font-size: 18px;
    }
    .footer__info-title,
    .footer__newsletter-title {
        min-width: 190px;
    }
    .footer__rights-text {
        margin-top: 60px;
    }
    .footer__rights {
        grid-template-columns: 3fr 2fr;
    }
    .footer__rights-block {
        grid-template-columns: 1.5fr 1fr;
    }
}

@media (max-width: 960px) {
    .header__menu-down-link:not(:nth-child(1)):not(:nth-child(3)):not(:nth-child(5)),
    .header__menu-down-link:nth-child(1n) {
        border: none;
    }
    .header__menu-link:nth-child(5) {
        display: none;
    }
    .header__menu-link:nth-child(6) {
        position: absolute;
        right: 140px;
        display: block;
    }
    .header__menu-down-link:nth-child(6) {
        display: flex;
    }
    .header__menu-down-link {
        margin-left: 20px;
        height: 61px;
        width: auto;
    }
    .header__menu-down-list {
        position: relative;
        border-top: 1px solid $border-blue;
        border-bottom: 1px solid $border-blue;
    }
    .header__block-login,
    .header__block-search {
        height: 62px;
    }
    .team__player,
    .coaches__coach,
    .employees__employee {
        height: 375px;
    }
    .team__player-img,
    .coaches__coach-img,
    .employees__employee-img {
        margin-left: 70px;
        width: 316px;
        height: 346px;
    }
    .team__player-name,
    .coaches__coach-name,
    .employees__employee-name {
        margin-top: 228px;
    }
    .team__player.team__goalies:nth-child(2),
    .team__player.team__defense:nth-child(2),
    .team__player.team__defense:nth-child(4),
    .team__player.team__defense:nth-child(6),
    .team__player.team__defense:nth-child(8),
    .team__player.team__halfback:nth-child(2),
    .team__player.team__halfback:nth-child(4),
    .team__player.team__halfback:nth-child(6),
    .team__player.team__forward:nth-child(2),
    .coaches__coach:nth-child(2),
    .coaches__coach:nth-child(4),
    .coaches__coach:nth-child(6),
    .coaches__coach:nth-child(8),
    .employees__employee:nth-child(2),
    .employees__employee:nth-child(4),
    .employees__employee:nth-child(6),
    .employees__employee:nth-child(8) {
        border-right: none;
    }

    .team__player.team__halfback:nth-child(5),
    .coaches__coach:nth-child(5) {
        border-left: none;
    }

    .dropdown__tab {
        max-width: 240px;
    }

    .dropdown__tab:nth-child(3) {
        max-width: 481px;
    }

    .dropdown__tab::before {
        width: 91%;
    }

    .dropdown__tab:nth-child(3)::before {
        width: 95%;
    }

    .dropdown__inner {
        justify-content: flex-start;
    }

    .main::before {
        background: linear-gradient(0deg, rgba(9, 89, 161, 0.25), rgba(9, 89, 161, 0.25)),
            linear-gradient(0deg, rgba(9, 89, 161, 0.5), rgba(9, 89, 161, 0.5)),
            url(../images/main/players_background_960px.png) no-repeat center center/cover;
    }
}

@media (max-width: 959px) {
    .team__player {
        width: 480px;
    }

    .team__player.team__goalies:nth-child(1),
    .team__player.team__goalies:nth-child(2),
    .team__player.team__defense:nth-child(1),
    .team__player.team__defense:nth-child(2),
    .team__player.team__defense:nth-child(4),
    .team__player.team__defense:nth-child(5),
    .team__player.team__defense:nth-child(6),
    .team__player.team__defense:nth-child(7),
    .team__player.team__defense:nth-child(8),
    .team__player.team__halfback:nth-child(1),
    .team__player.team__halfback:nth-child(2),
    .team__player.team__halfback:nth-child(4),
    .team__player.team__halfback:nth-child(5),
    .team__player.team__halfback:nth-child(6),
    .team__player.team__forward:nth-child(1),
    .team__player.team__forward:nth-child(2),
    .coaches__coach:nth-child(1),
    .coaches__coach:nth-child(2),
    .coaches__coach:nth-child(4),
    .coaches__coach:nth-child(6),
    .coaches__coach:nth-child(7),
    .coaches__coach:nth-child(8),
    .employees__employee:nth-child(1),
    .employees__employee:nth-child(2),
    .employees__employee:nth-child(4),
    .employees__employee:nth-child(6),
    .employees__employee:nth-child(7),
    .employees__employee:nth-child(8) {
        border-right: 1px solid $border-blue;
    }

    .team__player.team__goalies:nth-child(2),
    .team__player.team__defense:nth-child(2),
    .team__player.team__halfback:nth-child(2),
    .team__player.team__forward:nth-child(2),
    .coaches__coach:nth-child(2),
    .employees__employee:nth-child(2) {
        border-top: none;
        border-left: none;
    }

    .team__player.team__defense,
    .team__player.team__halfback,
    .team__player.team__forward,
    .team__player.team__goalies,
    .coaches__coach,
    .employees__employee,
    .team__player {
        width: 480px !important;
    }
}

@media (max-width: 953px) {
    .footer__newsletter {
        display: none;
    }
    .footer__newsletter953px {
        display: block;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .footer__newsletter-input {
        float: left;
        width: 440px;
    }
    .footer__newsletter-input input {
        width: 100%;
    }
    // .footer__rights-text:nth-child(2) {
    //     right: 200px;
    // }
    // .footer__rights-text:nth-child(3) {
    //     right: 0px;
    // }
}

@media (max-width: 870px) {
    .header__logo {
        min-width: 100px;
        min-height: 50px;
        height: 100px;
    }

    .header__menu-link a {
        margin-left: 15px;
        font-size: 10px;
    }

    .header__up-navigation {
        padding: 10px 0;
    }

    .header__menu-down-link {
        height: 59px;
    }
    .header__logo::before {
        width: 100px;
        height: 70px;
    }
    .header__block-logo:before {
        top: 9px;
    }
    .header__block-logo {
        height: 39px;
    }
    .header__block-login,
    .header__block-search {
        height: 60px;
    }
    .header__menu-down-link {
        margin-left: 15px;
        font-size: 12px;
    }
    .footer__rights {
        grid-template-columns: 2.5fr 2fr;
    }
    .footer__rights-block {
        grid-template-columns: 2fr 1.5fr;
    }
}

@media (max-width: 768px) {
    .header .menu-mobile {
        display: flex;
        align-items: center;
    }
    .header__menu-list {
        display: none;
    }
    .header__up-navigation {
        padding-top: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
    }
    .header .menu-burger__text {
        margin-left: 10px;
    }
    .header__down-navigation {
        display: none;
    }
    .header__block-right {
        display: flex;
    }
    .header__logo {
        min-width: 50px;
        height: 50px;
    }
    .header__logo::before {
        width: 48px;
        height: 36px;
        top: 7px;
        left: 2px;
    }
    .header__menu {
        height: 50px;
    }
    .header__block-functions {
        border-top: none;
    }
    .header__block-login,
    .header__block-search {
        height: 50px;
        width: 49px;
        border-bottom: none;
    }
    .header__block-logo {
        top: 8px;
        border-left: none;
        width: 80px;
    }
    .header__block-logo:before {
        width: 40px;
        height: 14px;
    }
    .header__block-login:before,
    .header__block-search:before {
        left: 17px;
        top: 18px;
        width: 15px;
        height: 15px;
    }
    .main__title {
        font-size: 83px;
    }
    .main__tab {
        height: 60px;
        font-weight: 400;
        font-size: 12px;
    }
    .dropdown__inner {
        margin-top: 12px;
        display: flex;
        flex-wrap: wrap;
    }
    .dropdown__tab-text {
        height: 0;
    }
    .dropdown__tab {
        height: 60px;
        padding: 20px 10px 20px 20px;
    }
    .dropdown__tab:nth-child(1),
    .dropdown__tab:nth-child(2) {
        width: 50%;
        max-width: 768px;
    }
    .dropdown__tab:nth-child(3) {
        max-width: 768px;
    }
    .dropdown__tab-title {
        display: none;
    }
    .dropdown__tab img {
        margin-top: 0;
        width: 26px;
        height: 26px;
    }
    .dropdown__tab-subtitle {
        line-height: 0px;
        font-size: 20px;
    }
    .dropdown__tab::before {
        width: 94%;
    }
    .dropdown__tab:nth-child(3)::before {
        width: 97%;
    }
    .footer__partners {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__partners-images:nth-child(4),
    .footer__partners-images:nth-child(7) {
        border-left: none;
    }
    .footer__partners-images:nth-child(5) {
        border-left: 1px solid $border-blue;
        border-bottom: none;
    }
    .footer__partners-images:nth-child(6) {
        border-bottom: none;
    }
    .footer__partners-images:nth-child(9) {
        display: block;
        border-left: 1px solid $border-blue;
    }
}

@media (max-width: 700px) {
    .footer__rights {
        grid-template-columns: 3fr 2fr;
    }
    .footer__rights-block {
        display: block;
    }
    .footer__rights-text:nth-child(2) {
        margin-top: 3px;
    }
}

@media (max-width: 680px) {
    .footer__info-title,
    .footer__newsletter-title {
        min-width: 169px;
        font-size: 16px;
    }
    .footer__info-nav:not(:first-child) {
        margin-left: 30px;
    }
    .footer__right-side {
        margin-left: 35px;
    }
}

@media (max-width: 600px) {
    .main__title {
        font-size: 63px;
    }
    .main__menu-tab {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
    .main__tab {
        scroll-snap-align: start;
        min-width: 200px;
        &:first-of-type {
            margin-left: 200px;
          }
    }
}

@media (max-width: 580px) {
    .footer__inner {
        padding: 0 15px;
    }
    .footer__info-title,
    .footer__newsletter-title {
        min-width: 125px;
        font-size: 12px;
    }
    .footer__newsletter-input {
        margin-top: 10px;
    }
    .footer__link:nth-child(3) {
        width: 70px;
    }
    .footer__info {
        margin-top: 29px;
    }
}

@media (max-width: 480px) {
    .team__player.team__goalies,
    .team__player.team__defense,
    .team__player.team__halfback,
    .team__player.team__forward,
    .coaches__coach,
    .employees__employee {
        width: 100%;
        border-right: none !important;
    }
    .main::before {
        background: linear-gradient(0deg, rgba(9, 89, 161, 0.25), rgba(9, 89, 161, 0.25)),
            linear-gradient(0deg, rgba(9, 89, 161, 0.5), rgba(9, 89, 161, 0.5)),
            url(../images/main/players_background_480px.png) no-repeat center center/cover;
    }
    .main__title {
        font-size: 56px;
    }
    .dropdown__tab::before {
        width: 91%;
    }

    .dropdown__tab:nth-child(3)::before {
        width: 95%;
    }

    .team {
        margin-top: 12px;
        padding-bottom: 60px;
    }

    .team__cards-title {
        padding: 30px 15px 15px;
        font-size: 26px;
        line-height: 30px;
    }

    .team__player-img,
    .coaches__coach-img,
    .employees__employee-img {
        margin-left: 0;
        width: 95%;
        height: 313px;
    }
    .team__player.team__defense,
    .team__player.team__halfback,
    .team__player.team__forward,
    .team__player.team__goalies,
    .coaches__coach,
    .employees__employee,
    .team__player {
        height: 340px;
        padding-left: 15px;
        padding-right: 60px;
    }
    .team__player-number {
        margin-top: 190px;
        align-items: center;
        font-size: 56px;
        line-height: 60px;
        margin-right: 0;
    }
    .team__player-name,
    .coaches__coach-name,
    .employees__employee-name {
        margin-top: 214px;
        font-size: 20px;
        line-height: 25px;
    }
    .team__player-nationality,
    .coaches__coach-nationality,
    .employees__employee-nationality {
        margin-top: 15px;
    }

    .team__player-shadow,
    .coaches__coach-shadow,
    .employees__employee-shadow {
        width: 90%;
    }
    .footer__title {
        padding-bottom: 15px;
    }
    .footer__newsletter-input {
        width: 100%;
        max-width: 450px;
    }
    .footer__partners-images:nth-child(1) img {
        width: 79.05px;
        height: 28px;
    }
    .footer__partners-images:nth-child(2) img,
    .footer__partners-images:nth-child(4) img,
    .footer__partners-images:nth-child(6) img,
    .footer__partners-images:nth-child(7) img {
        width: 96px;
        height: 64px;
    }
    .footer__partners-images:nth-child(3) img {
        width: 48px;
        height: 48px;
    }
    .footer__partners-images:nth-child(5) img {
        width: 42.4px;
        height: 42.4px;
    }
    .footer__partners-images:nth-child(8) img {
        width: 87.15px;
        height: 48px;
    }
}

@media (max-width: 471px) {
    .footer__info-nav:nth-child(3) {
        display: block;
    }
    .footer__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer__info-nav:not(:first-child) {
        margin-left: 0px;
    }
    .footer__right-side {
        margin-top: 40px;
        margin-left: 0px;
    }
    .footer__newsletter953px {
        margin-bottom: 0;
    }
    .footer__rights {
        display: block;
    }
    .footer__rights-text {
        margin-top: 110px;
    }
    .footer__rights-text2 {
        margin-top: 20px;
    }
    .footer__rights-text:nth-child(3) {
        margin-top: 0px;
    }
}

@media (max-width: 450px) {
    .footer__partners {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer__partners-images:nth-child(3),
    .footer__partners-images:nth-child(5) {
        border-left: none;
    }
    .footer__partners-images:nth-child(4) {
        border-left: 1px solid $border-blue;
    }
    .footer__partners-images:nth-child(9) {
        display: none;
    }
    .footer__info {
        margin-top: 39px;
    }
    .footer__info-nav:not(:first-child) {
        margin-left: 19px;
    }
}

@media (max-width: 360px) {
    .main__image {
        height: 360px;
    }
    .main::before {
        background: linear-gradient(0deg, rgba(9, 89, 161, 0.25), rgba(9, 89, 161, 0.25)),
            linear-gradient(0deg, rgba(9, 89, 161, 0.5), rgba(9, 89, 161, 0.5)),
            url(../images/main/players_background_360px.png) no-repeat center center/cover;
        height: 360px;
    }
    .dropdown__tab::before {
        width: 87%;
    }

    .dropdown__tab:nth-child(3)::before {
        width: 93%;
    }
    .team__player-img,
    .coaches__coach-img,
    .employees__employee-img {
        height: 256px;
    }
    .team__player-name,
    .coaches__coach-name,
    .employees__employee-name {
        margin-top: 158px;
    }
    .team__player.team__defense,
    .team__player.team__halfback,
    .team__player.team__forward,
    .team__player.team__goalies,
    .coaches__coach,
    .employees__employee,
    .team__player {
        height: 285px;
        padding-right: 30px;
    }
    .team__player-number {
        margin-top: 145px;
    }
}
